@media (max-width: 768px) {
  .theme-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  #predection-container .title {
    font-size: 18px;
    margin-bottom: 0px;
  }
  #predection-container .predection-topics ul li {
    display: inline;
  }
  .listall {
    border-radius: 0px;
  }
  .rankall.first {
    border-radius: 0px;
  }
  .rankall.last {
    border-radius: 0px;
  }
  
}
